.echart_tab_style{
    background: #e3e8ee;padding:16px;
}
.echart_tab_style > .ivu-tabs-card > .ivu-tabs-content {
    height: 308px;
    margin-top: -12px;
}
.echart_tab_style > .ivu-tabs-card > .ivu-tabs-content > .ivu-tabs-tabpane {
    background: #fff;
    padding: 16px;
}
.echart_tab_style > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
    border-color: transparent;
}
.echart_tab_style > .ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
    border-color: #fff;
}
